<?xml version="1.0" encoding="UTF-8"?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    <xacro:arg name="arm_id_1" default="panda_1"/>
    <xacro:arg name="arm_id_2" default="panda_2"/>
    <xacro:arg name="hand_1" default="panda_hand"/>
    <xacro:arg name="hand_2" default="panda_hand"/>

    <xacro:property name="hand_1" value="$(arg hand_1)"/>
    <xacro:property name="hand_2" value="$(arg hand_2)"/>

    <!--GROUPS: Representation of a set of joints and links. This can be useful for specifying DOF to plan for, defining arms, end effectors, etc-->
    <!--LINKS: When a link is specified, the parent joint of that link (if it exists) is automatically included-->
    <!--JOINTS: When a joint is specified, the child link of that joint (which will always exist) is automatically included-->
    <!--CHAINS: When a chain is specified, all the links along the chain (including endpoints) are included in the group. Additionally, all the joints that are parents to included links are also included. This means that joints along the chain and the parent joint of the base link are included in the group-->
    <!--SUBGROUPS: Groups can also be formed by referencing to already defined group names-->

    <!--  Depending on selected hands, setup the kinematic chain accordingly.  -->
    <xacro:if value="${hand_1 == 'panda_hand' or hand_1 == 'panda_gelslim'}">
        <group name="$(arg arm_id_1)">
            <chain base_link="$(arg arm_id_1)_link0" tip_link="$(arg arm_id_1)_gripper_origin"/>
        </group>
    </xacro:if>
    <xacro:if value="${hand_1 == 'gamma'}">
        <group name="$(arg arm_id_1)">
            <chain base_link="$(arg arm_id_1)_link0" tip_link="$(arg arm_id_1)_ft_origin"/>
        </group>
    </xacro:if>
    <xacro:if value="${hand_1 == 'sponge_eef' or hand_1 == 'sponge_eef_extend'}">
        <group name="$(arg arm_id_1)">
            <chain base_link="$(arg arm_id_1)_link0" tip_link="$(arg arm_id_1)_mount"/>
        </group>
    </xacro:if>
    <xacro:unless value="${hand_1 == 'panda_hand' or hand_1 == 'panda_gelslim' or hand_1 == 'gamma' or hand_1 == 'sponge_eef' or hand_1 == 'sponge_eef_extend'}">
        <group name="$(arg arm_id_1)">
            <chain base_link="$(arg arm_id_1)_link0" tip_link="$(arg arm_id_1)_link8"/>
        </group>
    </xacro:unless>

    <xacro:if value="${hand_2 == 'panda_hand' or hand_2 == 'panda_gelslim'}">
        <group name="$(arg arm_id_2)">
            <chain base_link="$(arg arm_id_2)_link0" tip_link="$(arg arm_id_2)_gripper_origin"/>
        </group>
    </xacro:if>
    <xacro:if value="${hand_2 == 'gamma'}">
        <group name="$(arg arm_id_2)">
            <chain base_link="$(arg arm_id_2)_link0" tip_link="$(arg arm_id_2)_ft_origin"/>
        </group>
    </xacro:if>
    <xacro:if value="${hand_2 == 'sponge_eef' or hand_2 == 'sponge_eef_extend'}">
        <group name="$(arg arm_id_2)">
            <chain base_link="$(arg arm_id_2)_link0" tip_link="$(arg arm_id_2)_mount"/>
        </group>
    </xacro:if>
    <xacro:unless value="${hand_2 == 'panda_hand' or hand_2 == 'panda_gelslim' or hand_2 == 'gamma' or hand_1 == 'sponge_eef' or hand_1 == 'sponge_eef_extend'}">
        <group name="$(arg arm_id_2)">
            <chain base_link="$(arg arm_id_2)_link0" tip_link="$(arg arm_id_2)_link8"/>
        </group>
    </xacro:unless>

    <group name="combined_panda">
        <group name="$(arg arm_id_1)"/>
        <group name="$(arg arm_id_2)"/>
    </group>

    <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
    <!-- Disable collisions for each hand type -->
    <xacro:if value="${hand_1 == 'panda_hand' or hand_1 == 'panda_gelslim'}">
        <disable_collisions link1="$(arg arm_id_1)_hand" link2="$(arg arm_id_1)_ft" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_1)_ft" link2="$(arg arm_id_1)_link7" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_1)_ft" link2="$(arg arm_id_1)_link7_sc" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_1)_hand" link2="$(arg arm_id_1)_leftfinger" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_1)_hand" link2="$(arg arm_id_1)_rightfinger" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_1)_leftfinger" link2="$(arg arm_id_1)_link3" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_1)_leftfinger" link2="$(arg arm_id_1)_link4" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_1)_leftfinger" link2="$(arg arm_id_1)_link6" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_1)_leftfinger" link2="$(arg arm_id_1)_link7" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_1)_leftfinger" link2="$(arg arm_id_1)_rightfinger" reason="Default"/>
        <disable_collisions link1="$(arg arm_id_1)_link3" link2="$(arg arm_id_1)_rightfinger" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_1)_link4" link2="$(arg arm_id_1)_rightfinger" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_1)_link6" link2="$(arg arm_id_1)_rightfinger" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_1)_link7" link2="$(arg arm_id_1)_rightfinger" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_1)_hand" link2="$(arg arm_id_1)_link3" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_1)_hand" link2="$(arg arm_id_1)_link4" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_1)_hand" link2="$(arg arm_id_1)_link6" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_1)_hand" link2="$(arg arm_id_1)_link7" reason="Adjacent"/>
    </xacro:if>

    <xacro:if value="${hand_1 == 'gamma'}">
        <disable_collisions link1="$(arg arm_id_1)_ft" link2="$(arg arm_id_1)_link7" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_1)_ft" link2="$(arg arm_id_1)_link7_sc" reason="Adjacent"/>
    </xacro:if>

    <xacro:if value="${hand_1 == 'sponge_eef'}">
        <disable_collisions link1="$(arg arm_id_1)_ft" link2="$(arg arm_id_1)_link7" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_1)_ft" link2="$(arg arm_id_1)_link7_sc" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_1)_ft" link2="$(arg arm_id_1)_mount" reason="Adjacent"/>
    </xacro:if>
    <xacro:if value="${hand_1 == 'sponge_eef_extend'}">
        <disable_collisions link1="$(arg arm_id_1)_ft" link2="$(arg arm_id_1)_link7" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_1)_ft" link2="$(arg arm_id_1)_link7_sc" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_1)_ft" link2="$(arg arm_id_1)_mount_extend" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_1)_mount_extend" link2="$(arg arm_id_1)_mount" reason="Adjacent"/>
    </xacro:if>

    <xacro:if value="${hand_2 == 'panda_hand' or hand_2 == 'panda_gelslim'}">
        <disable_collisions link1="$(arg arm_id_2)_hand" link2="$(arg arm_id_2)_ft" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_2)_ft" link2="$(arg arm_id_2)_link7" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_2)_ft" link2="$(arg arm_id_2)_link7_sc" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_2)_hand" link2="$(arg arm_id_2)_leftfinger" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_2)_hand" link2="$(arg arm_id_2)_rightfinger" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_2)_leftfinger" link2="$(arg arm_id_2)_link3" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_2)_leftfinger" link2="$(arg arm_id_2)_link4" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_2)_leftfinger" link2="$(arg arm_id_2)_link6" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_2)_leftfinger" link2="$(arg arm_id_2)_link7" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_2)_leftfinger" link2="$(arg arm_id_2)_rightfinger" reason="Default"/>
        <disable_collisions link1="$(arg arm_id_2)_link3" link2="$(arg arm_id_2)_rightfinger" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_2)_link4" link2="$(arg arm_id_2)_rightfinger" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_2)_link6" link2="$(arg arm_id_2)_rightfinger" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_2)_link7" link2="$(arg arm_id_2)_rightfinger" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_2)_hand" link2="$(arg arm_id_2)_link3" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_2)_hand" link2="$(arg arm_id_2)_link4" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_2)_hand" link2="$(arg arm_id_2)_link6" reason="Never"/>
        <disable_collisions link1="$(arg arm_id_2)_hand" link2="$(arg arm_id_2)_link7" reason="Adjacent"/>
    </xacro:if>

    <xacro:if value="${hand_2 == 'gamma'}">
        <disable_collisions link1="$(arg arm_id_2)_ft" link2="$(arg arm_id_2)_link7" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_2)_ft" link2="$(arg arm_id_2)_link7_sc" reason="Adjacent"/>
    </xacro:if>

    <xacro:if value="${hand_2 == 'sponge_eef'}">
        <disable_collisions link1="$(arg arm_id_2)_ft" link2="$(arg arm_id_2)_link7" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_2)_ft" link2="$(arg arm_id_2)_link7_sc" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_2)_ft" link2="$(arg arm_id_2)_mount" reason="Adjacent"/>
    </xacro:if>
    <xacro:if value="${hand_2 == 'sponge_eef_extend'}">
        <disable_collisions link1="$(arg arm_id_2)_ft" link2="$(arg arm_id_2)_link7" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_2)_ft" link2="$(arg arm_id_2)_link7_sc" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_2)_ft" link2="$(arg arm_id_2)_mount_extend" reason="Adjacent"/>
        <disable_collisions link1="$(arg arm_id_2)_mount_extend" link2="$(arg arm_id_2)_mount" reason="Adjacent"/>
    </xacro:if>


    <disable_collisions link1="base" link2="panda_1_link0" reason="Adjacent"/>
    <disable_collisions link1="base" link2="panda_1_link0_sc" reason="Default"/>
    <disable_collisions link1="base" link2="panda_1_link1" reason="Never"/>
    <disable_collisions link1="base" link2="panda_1_link1_sc" reason="Default"/>
    <disable_collisions link1="base" link2="panda_1_link2" reason="Never"/>
    <disable_collisions link1="base" link2="panda_1_link2_sc" reason="Never"/>
    <disable_collisions link1="base" link2="panda_1_link3" reason="Never"/>
    <disable_collisions link1="base" link2="panda_1_link3_sc" reason="Never"/>
    <disable_collisions link1="base" link2="panda_1_link4_sc" reason="Never"/>
    <disable_collisions link1="base" link2="panda_2_link0" reason="Adjacent"/>
    <disable_collisions link1="base" link2="panda_2_link0_sc" reason="Default"/>
    <disable_collisions link1="base" link2="panda_2_link1" reason="Never"/>
    <disable_collisions link1="base" link2="panda_2_link1_sc" reason="Default"/>
    <disable_collisions link1="base" link2="panda_2_link2" reason="Never"/>
    <disable_collisions link1="base" link2="panda_2_link2_sc" reason="Never"/>
    <disable_collisions link1="base" link2="panda_2_link3" reason="Never"/>
    <disable_collisions link1="base" link2="panda_2_link3_sc" reason="Never"/>
    <disable_collisions link1="base" link2="panda_2_link4" reason="Never"/>
    <disable_collisions link1="base" link2="panda_2_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_1_link0_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link0" link2="panda_1_link1" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link0" link2="panda_1_link1_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link0" link2="panda_1_link2" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_1_link2_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_1_link3" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_1_link3_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_1_link4" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_1_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_2_link0" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_2_link0_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_2_link1" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_2_link1_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_2_link2" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_2_link2_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_2_link3" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_2_link3_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_2_link4" reason="Never"/>
    <disable_collisions link1="panda_1_link0" link2="panda_2_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_1_link1" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_1_link1_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_1_link2" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_1_link2_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_1_link3" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_1_link3_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_1_link4" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_1_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_2_link0" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_2_link0_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_2_link1" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_2_link1_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_2_link2" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_2_link2_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_2_link3" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_2_link3_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_2_link4" reason="Never"/>
    <disable_collisions link1="panda_1_link0_sc" link2="panda_2_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link1" link2="panda_1_link1_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link1" link2="panda_1_link2" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link1" link2="panda_1_link2_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link1" link2="panda_1_link3" reason="Never"/>
    <disable_collisions link1="panda_1_link1" link2="panda_1_link3_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link1" link2="panda_1_link4" reason="Never"/>
    <disable_collisions link1="panda_1_link1" link2="panda_1_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link1" link2="panda_2_link0" reason="Never"/>
    <disable_collisions link1="panda_1_link1" link2="panda_2_link0_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link1" link2="panda_2_link1" reason="Never"/>
    <disable_collisions link1="panda_1_link1" link2="panda_2_link1_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link1" link2="panda_2_link2" reason="Never"/>
    <disable_collisions link1="panda_1_link1" link2="panda_2_link2_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link1" link2="panda_2_link3" reason="Never"/>
    <disable_collisions link1="panda_1_link1" link2="panda_2_link3_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link1" link2="panda_2_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_1_link2" reason="Default"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_1_link2_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_1_link3" reason="Never"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_1_link3_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_1_link4" reason="Never"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_1_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_2_link0" reason="Never"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_2_link0_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_2_link1" reason="Never"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_2_link1_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_2_link2" reason="Never"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_2_link2_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_2_link3" reason="Never"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_2_link3_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link1_sc" link2="panda_2_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link2" link2="panda_1_link2_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link2" link2="panda_1_link3" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link2" link2="panda_1_link3_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link2" link2="panda_1_link4" reason="Never"/>
    <disable_collisions link1="panda_1_link2" link2="panda_1_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link2" link2="panda_2_link0" reason="Never"/>
    <disable_collisions link1="panda_1_link2" link2="panda_2_link0_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link2" link2="panda_2_link1" reason="Never"/>
    <disable_collisions link1="panda_1_link2" link2="panda_2_link1_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link2" link2="panda_2_link2" reason="Never"/>
    <disable_collisions link1="panda_1_link2" link2="panda_2_link2_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link2" link2="panda_2_link3_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link2_sc" link2="panda_1_link3" reason="Never"/>
    <disable_collisions link1="panda_1_link2_sc" link2="panda_1_link3_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link2_sc" link2="panda_1_link4" reason="Never"/>
    <disable_collisions link1="panda_1_link2_sc" link2="panda_1_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link2_sc" link2="panda_2_link0" reason="Never"/>
    <disable_collisions link1="panda_1_link2_sc" link2="panda_2_link0_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link2_sc" link2="panda_2_link1" reason="Never"/>
    <disable_collisions link1="panda_1_link2_sc" link2="panda_2_link1_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link2_sc" link2="panda_2_link2" reason="Never"/>
    <disable_collisions link1="panda_1_link2_sc" link2="panda_2_link2_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link2_sc" link2="panda_2_link3" reason="Never"/>
    <disable_collisions link1="panda_1_link2_sc" link2="panda_2_link3_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link2_sc" link2="panda_2_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link3" link2="panda_1_link3_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link3" link2="panda_1_link4" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link3" link2="panda_1_link4_sc" reason="Always"/>
    <disable_collisions link1="panda_1_link3" link2="panda_1_link5" reason="Never"/>
    <disable_collisions link1="panda_1_link3" link2="panda_1_link5_sc" reason="Always"/>
    <disable_collisions link1="panda_1_link3" link2="panda_1_link6" reason="Never"/>
    <disable_collisions link1="panda_1_link3" link2="panda_1_link6_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link3" link2="panda_1_link7" reason="Never"/>
    <disable_collisions link1="panda_1_link3" link2="panda_1_link7_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link3" link2="panda_2_link0" reason="Never"/>
    <disable_collisions link1="panda_1_link3" link2="panda_2_link0_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link3" link2="panda_2_link1" reason="Never"/>
    <disable_collisions link1="panda_1_link3" link2="panda_2_link1_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link3" link2="panda_2_link2_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link3_sc" link2="panda_1_link4" reason="Always"/>
    <disable_collisions link1="panda_1_link3_sc" link2="panda_1_link4_sc" reason="Always"/>
    <disable_collisions link1="panda_1_link3_sc" link2="panda_1_link5" reason="Never"/>
    <disable_collisions link1="panda_1_link3_sc" link2="panda_1_link5_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link3_sc" link2="panda_1_link6" reason="Never"/>
    <disable_collisions link1="panda_1_link3_sc" link2="panda_1_link6_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link3_sc" link2="panda_1_link7" reason="Never"/>
    <disable_collisions link1="panda_1_link3_sc" link2="panda_1_link7_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link3_sc" link2="panda_2_link0" reason="Never"/>
    <disable_collisions link1="panda_1_link3_sc" link2="panda_2_link0_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link3_sc" link2="panda_2_link1" reason="Never"/>
    <disable_collisions link1="panda_1_link3_sc" link2="panda_2_link1_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link3_sc" link2="panda_2_link2" reason="Never"/>
    <disable_collisions link1="panda_1_link3_sc" link2="panda_2_link2_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link4" link2="panda_1_link4_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link4" link2="panda_1_link5" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link4" link2="panda_1_link5_sc" reason="Always"/>
    <disable_collisions link1="panda_1_link4" link2="panda_1_link6" reason="Never"/>
    <disable_collisions link1="panda_1_link4" link2="panda_1_link6_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link4" link2="panda_1_link7" reason="Never"/>
    <disable_collisions link1="panda_1_link4" link2="panda_1_link7_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link4" link2="panda_2_link0" reason="Never"/>
    <disable_collisions link1="panda_1_link4" link2="panda_2_link0_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link4_sc" link2="panda_1_link5" reason="Never"/>
    <disable_collisions link1="panda_1_link4_sc" link2="panda_1_link5_sc" reason="Always"/>
    <disable_collisions link1="panda_1_link4_sc" link2="panda_1_link6" reason="Never"/>
    <disable_collisions link1="panda_1_link4_sc" link2="panda_1_link6_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link4_sc" link2="panda_1_link7" reason="Never"/>
    <disable_collisions link1="panda_1_link4_sc" link2="panda_1_link7_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link4_sc" link2="panda_2_link0" reason="Never"/>
    <disable_collisions link1="panda_1_link4_sc" link2="panda_2_link0_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link4_sc" link2="panda_2_link1" reason="Never"/>
    <disable_collisions link1="panda_1_link4_sc" link2="panda_2_link1_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link4_sc" link2="panda_2_link2_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link5" link2="panda_1_link5_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link5" link2="panda_1_link6" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link5" link2="panda_1_link6_sc" reason="Always"/>
    <disable_collisions link1="panda_1_link5" link2="panda_2_link5" reason="Default"/>
    <disable_collisions link1="panda_1_link5" link2="panda_2_link5_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link5" link2="panda_2_link6_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link5_sc" link2="panda_1_link6" reason="Never"/>
    <disable_collisions link1="panda_1_link5_sc" link2="panda_1_link6_sc" reason="Always"/>
    <disable_collisions link1="panda_1_link5_sc" link2="panda_1_link7" reason="Never"/>
    <disable_collisions link1="panda_1_link5_sc" link2="panda_1_link7_sc" reason="Never"/>
    <disable_collisions link1="panda_1_link5_sc" link2="panda_2_link5_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link6" link2="panda_1_link6_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link6" link2="panda_1_link7" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link6" link2="panda_1_link7_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link6" link2="panda_2_link5_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link6" link2="panda_2_link7_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link6_sc" link2="panda_1_link7" reason="Never"/>
    <disable_collisions link1="panda_1_link6_sc" link2="panda_1_link7_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link6_sc" link2="panda_2_link5_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link6_sc" link2="panda_2_link6" reason="Default"/>
    <disable_collisions link1="panda_1_link6_sc" link2="panda_2_link6_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link7" link2="panda_1_link7_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_1_link7_sc" link2="panda_2_link5" reason="Default"/>
    <disable_collisions link1="panda_1_link7_sc" link2="panda_2_link5_sc" reason="Default"/>
    <disable_collisions link1="panda_1_link7_sc" link2="panda_2_link7_sc" reason="Default"/>
    <disable_collisions link1="panda_2_link0" link2="panda_2_link0_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_2_link0" link2="panda_2_link1" reason="Adjacent"/>
    <disable_collisions link1="panda_2_link0" link2="panda_2_link1_sc" reason="Default"/>
    <disable_collisions link1="panda_2_link0" link2="panda_2_link2" reason="Never"/>
    <disable_collisions link1="panda_2_link0" link2="panda_2_link2_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link0" link2="panda_2_link3" reason="Never"/>
    <disable_collisions link1="panda_2_link0" link2="panda_2_link3_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link0" link2="panda_2_link4" reason="Never"/>
    <disable_collisions link1="panda_2_link0" link2="panda_2_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link0_sc" link2="panda_2_link1" reason="Never"/>
    <disable_collisions link1="panda_2_link0_sc" link2="panda_2_link1_sc" reason="Default"/>
    <disable_collisions link1="panda_2_link0_sc" link2="panda_2_link2" reason="Never"/>
    <disable_collisions link1="panda_2_link0_sc" link2="panda_2_link2_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link0_sc" link2="panda_2_link3" reason="Never"/>
    <disable_collisions link1="panda_2_link0_sc" link2="panda_2_link3_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link0_sc" link2="panda_2_link4" reason="Never"/>
    <disable_collisions link1="panda_2_link0_sc" link2="panda_2_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link1" link2="panda_2_link1_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_2_link1" link2="panda_2_link2" reason="Adjacent"/>
    <disable_collisions link1="panda_2_link1" link2="panda_2_link2_sc" reason="Default"/>
    <disable_collisions link1="panda_2_link1" link2="panda_2_link3" reason="Never"/>
    <disable_collisions link1="panda_2_link1" link2="panda_2_link3_sc" reason="Default"/>
    <disable_collisions link1="panda_2_link1" link2="panda_2_link4" reason="Never"/>
    <disable_collisions link1="panda_2_link1" link2="panda_2_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link1_sc" link2="panda_2_link2" reason="Default"/>
    <disable_collisions link1="panda_2_link1_sc" link2="panda_2_link2_sc" reason="Default"/>
    <disable_collisions link1="panda_2_link1_sc" link2="panda_2_link3" reason="Never"/>
    <disable_collisions link1="panda_2_link1_sc" link2="panda_2_link4" reason="Never"/>
    <disable_collisions link1="panda_2_link1_sc" link2="panda_2_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link2" link2="panda_2_link2_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_2_link2" link2="panda_2_link3" reason="Adjacent"/>
    <disable_collisions link1="panda_2_link2" link2="panda_2_link3_sc" reason="Default"/>
    <disable_collisions link1="panda_2_link2" link2="panda_2_link4" reason="Never"/>
    <disable_collisions link1="panda_2_link2" link2="panda_2_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link2_sc" link2="panda_2_link3" reason="Never"/>
    <disable_collisions link1="panda_2_link2_sc" link2="panda_2_link3_sc" reason="Default"/>
    <disable_collisions link1="panda_2_link2_sc" link2="panda_2_link4" reason="Never"/>
    <disable_collisions link1="panda_2_link2_sc" link2="panda_2_link4_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link3" link2="panda_2_link3_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_2_link3" link2="panda_2_link4" reason="Adjacent"/>
    <disable_collisions link1="panda_2_link3" link2="panda_2_link4_sc" reason="Always"/>
    <disable_collisions link1="panda_2_link3" link2="panda_2_link5" reason="Never"/>
    <disable_collisions link1="panda_2_link3" link2="panda_2_link5_sc" reason="Always"/>
    <disable_collisions link1="panda_2_link3" link2="panda_2_link6" reason="Never"/>
    <disable_collisions link1="panda_2_link3" link2="panda_2_link6_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link3" link2="panda_2_link7" reason="Never"/>
    <disable_collisions link1="panda_2_link3" link2="panda_2_link7_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link3_sc" link2="panda_2_link4" reason="Always"/>
    <disable_collisions link1="panda_2_link3_sc" link2="panda_2_link4_sc" reason="Always"/>
    <disable_collisions link1="panda_2_link3_sc" link2="panda_2_link5" reason="Never"/>
    <disable_collisions link1="panda_2_link3_sc" link2="panda_2_link5_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link3_sc" link2="panda_2_link6" reason="Never"/>
    <disable_collisions link1="panda_2_link3_sc" link2="panda_2_link6_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link3_sc" link2="panda_2_link7" reason="Never"/>
    <disable_collisions link1="panda_2_link3_sc" link2="panda_2_link7_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link4" link2="panda_2_link4_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_2_link4" link2="panda_2_link5" reason="Adjacent"/>
    <disable_collisions link1="panda_2_link4" link2="panda_2_link5_sc" reason="Default"/>
    <disable_collisions link1="panda_2_link4" link2="panda_2_link6" reason="Never"/>
    <disable_collisions link1="panda_2_link4" link2="panda_2_link6_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link4" link2="panda_2_link7" reason="Never"/>
    <disable_collisions link1="panda_2_link4" link2="panda_2_link7_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link4_sc" link2="panda_2_link5" reason="Never"/>
    <disable_collisions link1="panda_2_link4_sc" link2="panda_2_link5_sc" reason="Default"/>
    <disable_collisions link1="panda_2_link4_sc" link2="panda_2_link6" reason="Never"/>
    <disable_collisions link1="panda_2_link4_sc" link2="panda_2_link6_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link4_sc" link2="panda_2_link7" reason="Never"/>
    <disable_collisions link1="panda_2_link4_sc" link2="panda_2_link7_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link5" link2="panda_2_link5_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_2_link5" link2="panda_2_link6" reason="Adjacent"/>
    <disable_collisions link1="panda_2_link5" link2="panda_2_link6_sc" reason="Default"/>
    <disable_collisions link1="panda_2_link5_sc" link2="panda_2_link6" reason="Never"/>
    <disable_collisions link1="panda_2_link5_sc" link2="panda_2_link6_sc" reason="Default"/>
    <disable_collisions link1="panda_2_link5_sc" link2="panda_2_link7" reason="Never"/>
    <disable_collisions link1="panda_2_link5_sc" link2="panda_2_link7_sc" reason="Never"/>
    <disable_collisions link1="panda_2_link6" link2="panda_2_link6_sc" reason="Adjacent"/>
    <disable_collisions link1="panda_2_link6" link2="panda_2_link7" reason="Adjacent"/>
    <disable_collisions link1="panda_2_link6" link2="panda_2_link7_sc" reason="Default"/>
    <disable_collisions link1="panda_2_link6_sc" link2="panda_2_link7" reason="Never"/>
    <disable_collisions link1="panda_2_link6_sc" link2="panda_2_link7_sc" reason="Default"/>
    <disable_collisions link1="panda_2_link7" link2="panda_2_link7_sc" reason="Adjacent"/>
</robot>
