<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    <xacro:arg name="arm_id" default="panda_1"/>
    <xacro:arg name="hand" default="panda_hand"/>
    <xacro:arg name="include_gamma" default="false"/>
    <xacro:arg name="include_wrist_camera" default="false"/>
    <xacro:arg name="include_gelsight_inserts" default="false"/>

    <xacro:arg name="arm_xyz_base" default="0 0.4425 0.6"/>
    <xacro:arg name="arm_rpy_base" default="0.0 0.0 -1.57079633"/>

    <xacro:property name="hand" value="$(arg hand)"/>
    <xacro:property name="include_gamma" value="$(arg include_gamma)"/>
    <xacro:property name="include_wrist_camera" value="$(arg include_wrist_camera)"/>
    <xacro:property name="include_gelsight_inserts" value="$(arg include_gelsight_inserts)"/>

    <!-- Load source xacros -->
    <xacro:include filename="$(find mmint_franka_description)/robots/materials.xacro"/>
    <xacro:include filename="$(find franka_description)/robots/common/franka_arm.xacro"/>

    <xacro:include filename="$(find mmint_franka_description)/robots/hands/gamma.xacro"/>
    <xacro:include filename="$(find mmint_franka_description)/robots/hands/wrist_camera.xacro"/>

    <xacro:include filename="$(find mmint_franka_description)/robots/hands/panda_hand.xacro"/>
    <xacro:include filename="$(find mmint_franka_description)/robots/hands/panda_gelslim.xacro"/>
    <xacro:include filename="$(find mmint_franka_description)/robots/hands/panda_gelsight.xacro"/>
    <xacro:include filename="$(find mmint_franka_description)/robots/hands/sponge_eef.xacro"/>

    <!-- box shaped table as base for the 2 Pandas -->
    <link name="base">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0.3"/>
            <geometry>
                <box size="0.9 1.215 0.6"/>
            </geometry>
            <material name="light_grey"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0.3"/>
            <geometry>
                <box size="0.9 1.215 0.6"/>
            </geometry>
        </collision>
    </link>
    <link name="tabletop"/>
    <joint name="world_to_table" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0.6"/>
        <parent link="base"/>
        <child link="tabletop"/>
    </joint>

    <!-- Load arm -->
    <xacro:franka_arm arm_id="$(arg arm_id)" connected_to="base" xyz="$(arg arm_xyz_base)" rpy="$(arg arm_rpy_base)"
                      joint_limits="${xacro.load_yaml('$(find franka_description)/robots/panda/joint_limits.yaml')}"/>
    <link name="$(arg arm_id)_flange"/>
    <joint name="$(arg arm_id)_flange_joint" type="fixed">
        <parent link="$(arg arm_id)_link8"/>
        <child link="$(arg arm_id)_flange"/>
        <origin rpy="0 0 ${-pi/4}"/>
    </joint>
    <xacro:property name="connecting_link" value="$(arg arm_id)_flange"/>

    <xacro:if value="${include_gamma}">
        <xacro:gamma ns="$(arg arm_id)" connected_to="$(arg arm_id)_flange"/>
        <xacro:property name="connecting_link" value="$(arg arm_id)_ft_origin"/>
    </xacro:if>
    <xacro:if value="${include_wrist_camera}">
        <xacro:if value="${include_gamma}">
            <xacro:wrist_camera ns="$(arg arm_id)" xyz="0 0 0.0079" connected_to="$(arg arm_id)_ft_origin"/>
        </xacro:if>
        <xacro:unless value="${include_gamma}">
            <xacro:wrist_camera ns="$(arg arm_id)" connected_to="$(arg arm_id)_flange"/>
        </xacro:unless>
        <xacro:property name="connecting_link" value="$(arg arm_id)_wrist_camera_flange"/>
    </xacro:if>

    <xacro:if value="${hand == 'panda_hand'}">
        <xacro:if value="${include_gamma}">
            <xacro:panda_hand ns="$(arg arm_id)" xyz="0 0 0.0079" connected_to="${connecting_link}"/>
        </xacro:if>
        <xacro:unless value="${include_gamma}">
            <xacro:panda_hand ns="$(arg arm_id)" connected_to="${connecting_link}"/>
        </xacro:unless>
    </xacro:if>
    <xacro:if value="${hand == 'panda_gelslim'}">
        <xacro:if value="${include_gamma}">
            <xacro:panda_gelslim ns="$(arg arm_id)" xyz="0 0 0.0079" connected_to="${connecting_link}"/>
        </xacro:if>
        <xacro:unless value="${include_gamma}">
            <xacro:panda_gelslim ns="$(arg arm_id)" connected_to="${connecting_link}"/>
        </xacro:unless>
    </xacro:if>
    <xacro:if value="${hand == 'sponge_eef'}">
        <xacro:sponge_eef ns="$(arg arm_id)" connected_to="${connecting_link}" extend="${False}"/>
    </xacro:if>
    <xacro:if value="${hand == 'sponge_eef_extend'}">
        <xacro:sponge_eef ns="$(arg arm_id)" connected_to="${connecting_link}" extend="${True}"/>
    </xacro:if>
    <xacro:if value="${hand == 'panda_gelsight'}">
        <xacro:if value="${include_gamma}">
            <xacro:if value="${include_wrist_camera}">
                <xacro:panda_gelsight ns="$(arg arm_id)" connected_to="${connecting_link}"
                                      insert="${include_gelsight_inserts}"/>
            </xacro:if>
            <xacro:unless value="${include_wrist_camera}">
                <xacro:panda_gelsight ns="$(arg arm_id)" xyz="0 0 0.0079" connected_to="${connecting_link}"
                                      insert="${include_gelsight_inserts}"/>
            </xacro:unless>
        </xacro:if>
        <xacro:unless value="${include_gamma}">
            <xacro:panda_gelsight ns="$(arg arm_id)" connected_to="${connecting_link}"
                                  insert="${include_gelsight_inserts}"/>
        </xacro:unless>
    </xacro:if>

</robot>